<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
         <ion-title>Clinical Quality Projects</ion-title>
         <ion-buttons end>
          
          <button ion-button icon-only  (click)= "notesToSelf()"><ion-icon name="logo-buffer"></ion-icon></button>
        </ion-buttons>
      </ion-navbar>


</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="forceReload($event)">
      <ion-refresher-content refreshingText="Reloading from server..."></ion-refresher-content>
    </ion-refresher>


<!--
  <h4 class="title"><strong> A guide to defining Clinical Quality Projects at GOSH: Who to contact for support and governance</strong></h4>

  <h6 class="paragraph-text"><strong></strong></h6> -->
<div *ngFor="let tool of tools | search : terms" class="txt">  <div [innerHTML]="tool.content.rendered"></div></div>

	<flash-card *ngFor="let tool of tools | search : terms">

		<div class="flash-card-front"><div [innerHTML]="tool.front"></div></div>

		<div class="flash-card-back"><div [innerHTML]="tool.back"></div></div>

	</flash-card>


</ion-content>
