page-template-quiz-score {

  

        .card-header {
            font-weight: bold;
        }
    
        .question-card {
            background:  #80ffff;
        }
    
        .lbl {
            white-space: inherit;
        }

        .pp {
            color: #003764;
        }
        

    

}
