<ion-header>
  <ion-navbar color="primary">
    <ion-title>Blood Culture Collection</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="forceReload($event)">

        <ion-refresher-content refreshingText="Reloading from server..."></ion-refresher-content>
      </ion-refresher>
      
 
  <ion-slides #slider effect="fade" (ionSlideWillChange)="onSlideChanged()">
    <ion-slide *ngFor="let tool of tools"
               class="swiper-no-swiping"
               [ngStyle]="{'background' : 'url(' + tool.image.guid + ')'}">

               <div [innerHTML]="tool.content.rendered"></div>
    </ion-slide>
    <!-- Add Pagination -->
    <div *ngIf="currentIndex > 0"
         class="swiper-button-prev swiper-button-white"
         (click)="previousSlide()"></div>
    <div *ngIf="currentIndex < slides.length-1"
         class="swiper-button-next swiper-button-white"
         (click)="nextSlide()"></div>
  </ion-slides>
</ion-content>