page-icu-new-starters {

    .card-title {
        font-weight: bold;
        font-size: 1.8rem;
    }

    .card {
        background: #97EEFF;
        // max-width: 100%;
    }

    .item {
        background: #97EEFF;
    }
    .item h2 {
        font-size: 1.5rem;
    }
}
