page-icu-new-starters {

    .card-title {
        font-weight: bold;
        font-size: 1.8rem;
        white-space: initial;
    }

    .card {
        background: #97EEFF;

    }

    .item {
        background: #97EEFF;
    }
    .item h2 {
        font-size: 1.5rem;
    }

    .searchbar{
      background-color: #184F8A;

    }


}
