<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf ="!searchOpen" (click)= "notesToSelf()"><ion-icon name="logo-buffer"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="forceReload($event)">

    <ion-refresher-content refreshingText="Reloading from server..."></ion-refresher-content>
  </ion-refresher>

<div *ngFor="let tool of tools"> <div class="txt" [innerHTML]="tool.content.rendered"></div></div>
 
</ion-content>
