<ion-menu [content]="content">
  <ion-header>

  </ion-header>

  <ion-content class="side-menu-gradient">
    <ion-list>
        <div class="spacer" style="height: 40px;"></div>
        <h2 style="color:rgba(255, 255, 255, 0.927);text-align:center;font-weight:400;">GOSH App</h2>
        <div class="spacer" style="height: 10px;"></div>
      <button class="side-menu-item" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" no-line>
        {{p.title}}
      </button>
  <!-- <sidebar *ngFor="let tool of tools" [title]="tool.title.rendered" [slug] = "tool.slug" [template] = "tool.template_name"></sidebar> -->
     </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
