page-safety-toolkit {
    $refresher-border-color:#68b9ff;


    .background {
        background-color: #9ed7e9;
    }

    .card-header{
        background-color: map-get($colors, #fff);
        color: rgb(0, 0, 0);
    }

    .card-content {
        padding: 0px 16px;
        max-height: 0px;
    }

    .item-content {
        background-color: transparent !important;
        color: rgb(0, 0, 0);
      }
<<<<<<< HEAD

      .searchbar{
        background-color: #184F8A;

      }


=======
      
    
>>>>>>> f5f3f1477f80a851585f1e3aa2477a58b30ecaef
}
