<!--
  Generated template for the SafetyToolkitPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     <ion-title>Safety Toolkit</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)= "notesToSelf()"><ion-icon name="logo-buffer"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="has-header" overflow-scroll="true" class="background">
  <!-- <script src="safety-toolkit.ts"></script> -->
 
    <!-- <!-- <ion-card id="home-card21" *ngFor="let tool of tools; let i = index">
     
      
          <ion-item color="none" id="home-list-item6">
             
            <ion-avatar item-left (click)="safetyToolkitMore(tool)">
              <img src="{{ tool.icon.guid }}">
              </ion-avatar>
              <h2>
                  <button  ion-button icon-only class="item-content" style="float:right;" (click)="toggleAccordion(i)">
                      <ion-icon name="ios-arrow-down"></ion-icon>
                    </button>
                    <div (click)="safetyToolkitMore(tool)">
                  {{ tool.title.rendered }}
                  </div>
              </h2>

              </ion-item>
           
              <ion-card-content #cc>
                
            <div [innerHTML] = "tool.content.rendered"></div>
        
          </ion-card-content> -->
      <!-- </ion-card> --> 

      <accordion *ngFor="let tool of tools" [title]="tool.title.rendered" [icon]="tool.icon.guid" [slug] = "tool.slug" [title] = "tool.title">
          <div [innerHTML]="tool.content.rendered"></div>
        </accordion>




</ion-content>