page-clinical-policies {

    .card-title {
        font-weight: bold;
        font-size: 1.8rem;
        white-space: initial;
    }
  
    .card {
        background:rgb(255, 190, 111)
        // max-width: 100%;
    }
  
    .item {
        background: #B266FF;
    }
    .item h2 {
        font-size: 1.5rem;
    }
  
    .searchbar{
      background-color: #184F8A;
  
    }
  

}
