

<ion-card id="home-card21">
     
      
    <ion-item color="none" id="home-list-item6">
       
      <ion-avatar item-left (click)="safetyToolkitMore(slug)">
        <img src="{{ icon }}">
        </ion-avatar>
        <h2>
            <button  ion-button icon-only class="item-content" style="float:right;" (click)="toggleAccordion()">
                <ion-icon name="ios-arrow-down"></ion-icon>
              </button>
              <div (click)="safetyToolkitMore(slug)">
            {{ title }} 
            </div>
        </h2>

        </ion-item>
     
        <ion-card-content #cc>
          
     <ng-content></ng-content>
  
    </ion-card-content>
</ion-card>