

<ion-card id="home-card21">
     
      
    <ion-item color="none" id="home-list-item6">
       
      <ion-avatar item-left (click)="template_router(slug,title,template,imagetop)">
        <img src="{{ icon }}">
        </ion-avatar>

        <div style = "width: 150px; float:left ">
             <h2>
                  <div (click)="template_router(slug, title, template, imagetop)">
                         {{ title }}
                  </div>
             </h2>
        </div>
       
        <button  ion-button icon-only class= "item-content" clear style="float:right;" (click)="toggleAccordion()">
            <ion-icon name="ios-arrow-down"></ion-icon>
        </button>

    </ion-item>
     
        <ion-card-content #cc>
                
     <ng-content></ng-content>
                
    </ion-card-content>
</ion-card>