<ion-card>
  <ion-card-header (click)="toggleAccordion()">
    {{ title }}
  </ion-card-header>
  <!-- <ion-scroll zoom="true" scrollX="true" scrollY="true" overflow-scroll="false"> -->



    <ion-card-content #cc>
      <!-- <ion-scroll overflow-scroll="visible" zoom="true" zooming="true" max-zoom="3" min-zoom="1" scrollX="true" scrollY="true"> -->
            <!-- <ion-scroll zooming="true" scrollY="true" scrollX="true" maxZoom="300px"> -->

       
            <ng-content></ng-content>
          
          
        </ion-card-content>
    <!-- </ion-scroll> -->
  </ion-card>
  
